# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Serious Coding RPG.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\SeriousCodingRPG\Serious Coding RPG\.idea\.idea.Serious Coding RPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
